body {
    background-color: #000;
    color:white;
    font-size:30px;
    color:white;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
}

#audio {
    opacity:0;
}